# Flask
Flask
flask-cors

# Google Cloud
google-cloud-firestore
google-cloud-storage
google-cloud-aiplatform
vertexai

# Graph
networkx

# HTTP & API
requests

# Testing
pytest==7.4.3
python-dotenv

# Other
python-dotenv